<html>
  <head>
    <title>Trace_Beef_Produtor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      body {
        background-color: #ffffff;
      }
      td {
        background-color: #ffffff;
      }

      .main-title {
        color: #2ea1e6;
        font-weight: 400;
        font-size: 26px;
        margin: 48px auto;
        text-align: center;
        width: 300px;
      }

      .bold {
        font-weight: bold;
      }

      .confirmation {
        margin: 0 auto 68px;
        text-align: center;
      }

      .confirmation-text {
        color: #a1acb3;
        margin: 0 0 8px;
      }

      .confirmation-cta {
        width: 224px;
      }

      .account-recovery {
        color: #a1acb3;
        margin: 0 auto 68px;
        max-width: 364px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div style="background-color: #f1f1ef">
      <table
        id="Tabela_01"
        width="600"
        height="2197"
        align="center"
        style="display: block"
        border="0"
        cellpadding="0"
        cellspacing="0"
      >
        <tbody style="background-color: #f1f1ef">
          <tr>
            <td>
              <img
                src="https://portal-emails-resources.s3.us-east-1.amazonaws.com/email/email-header.jpg"
                alt=""
                width="600"
                height="166"
                usemap="#Map"
                style="display: block"
                border="0"
              />
              <map name="Map">
                <area
                  shape="rect"
                  coords="231,48,368,119"
                  href="https://ecotrace.info/"
                  target="_blank"
                  alt="Ecotrace Solutions"
                />
              </map>
            </td>
          </tr>
          <tr style="margin-bottom: 24px">
            <td style="text-align: center">
              <img
                src="https://portal-emails-resources.s3.us-east-1.amazonaws.com/email/forgot-password.jpg"
              />
            </td>
          </tr>
          <tr>
            <td>
              <h1 class="main-title">
                <span class="bold">Alterar sua senha</span>
              </h1>
            </td>
          </tr>
          <tr>
            <td>
              <div class="confirmation">
                <p class="confirmation-text">
                  Clique no link abaixo para alterar sua conta.
                </p>
                <img
                  src="https://portal-emails-resources.s3.us-east-1.amazonaws.com/email/change-password-cta.jpg"
                  class="confirmation-cta"
                  usemap="#confirmationCTA"
                />
                <map name="confirmationCTA">
                  <area
                    shape="rect"
                    coords="235,53,16,9"
                    href="{{ link }}"
                    target="_blank"
                    alt="Ecotrace Solutions"
                  />
                </map>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="account-recovery">
                <p>
                  Se não foi você quem fez essa solicitação clique no link
                  abaixo para manter sua conta segura.
                </p>
                <a
                  href="{{ baseURL }}esqueci-minha-senha"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Recuperar conta
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="https://portal-emails-resources.s3.us-east-1.amazonaws.com/email/email-footer.jpg"
                alt=""
                width="600"
                height="165"
                usemap="#Map4"
                style="display: block"
                border="0"
              />
              <map name="Map4">
                <area
                  shape="rect"
                  coords="132,45,217,55"
                  href="https://ecotrace.info/"
                  target="_blank"
                  alt="Ecotrace Solutions"
                />
                <area
                  shape="rect"
                  coords="237,45,342,55"
                  href="mailto:contato@ecotrace.info"
                  alt="contato@ecotrace.info"
                />
                <area
                  shape="rect"
                  coords="35,46,111,55"
                  href="tel:+551926602777"
                  alt="19 2660-2777"
                />
                <area
                  shape="rect"
                  coords="476,139,491,154"
                  href="https://ecotrace.info/"
                  target="_blank"
                  alt="Ecotrace Solutions"
                />
                <area
                  shape="rect"
                  coords="497,139,513,153"
                  href="https://www.facebook.com/ecotracesolutions/"
                  target="_blank"
                  alt="@ecotracesolutions"
                />
                <area
                  shape="rect"
                  coords="520,139,534,154"
                  href="https://www.instagram.com/ecotracesolutions/"
                  target="_blank"
                  alt="@ecotracesolutions"
                />
                <area
                  shape="rect"
                  coords="543,138,558,154"
                  href="https://www.linkedin.com/company/ecotrace-solutions/about/"
                  target="_blank"
                  alt="@ecotrace-solutions"
                />
              </map>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
